<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>tab-croll</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.0/dist/showdown.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <iframe class="mobile-wrapper" scrolling="no" id="ifrm" onload="loadIframe" name="mobileFrame" src="https://dscsdoj.top/public/unsplash/index.html#/demo1"></iframe>
      <div class="main-menu">
        <button type="button" class="btn-lg btn btn-default btn-block a-btn">关于TabScroll</button>
        <button type="button" class="btn-lg btn btn-default btn-block a-btn">安装 & 使用</button>
        <button type="button" class="btn-lg btn btn-default btn-block a-btn">文档</button>
        <button type="button" onclick="handleDemo('demo1')" style="margin-top: 10vh" class="btn-lg btn btn-default btn-block a-btn">demo1</button>
        <button type="button" onclick="handleDemo('demo2')" class="btn-lg btn btn-default btn-block a-btn">demo2</button>
      </div>
      <div class="main-content">
        <h2>关于TabScroll</h2>
        <div class="px-line"></div>
        <p>
          TabScroll是一个基于Vue(2.x)和Better-Scroll开发的手势库，主要用于满足左右手势以及上下手势的切换。<br/>
          由于依赖Better-Scroll，所以需要对Better-Scroll具有一定的了解。
          如果还没有了解过，建议先看看Better-Scroll官方文档。
        </p>
        <h2>安装 & 使用</h2>
        <div class="px-line"></div>
        <strong>安装：</strong>
        <p>
          TabScroll依赖Better-Scroll，如果您未安装过Better-Scroll，请将Better-Scroll一并安装
          <pre>yarn add better-scroll tab-scroll</pre>
          如果您安装过Better-Scroll，那么请直接安装TabScroll
          <pre>yarn add tab-scroll</pre>
        </p>
        <strong>使用：</strong>
        <p>
          <pre>
// main.js
import Vue from 'vue'
import App from './App.vue'

import tabScroll from 'tab-scroll'

Vue.use(tabScroll)

new Vue({
  render: h => h(App)
}).$mount('#app')
          </pre>
          <pre>
// App.vue
&lt;template&gt;
  &lt;div class="wrapper"&gt;
    &lt;vue-horizontal-scroll ref="vue-horizontal-scroll" @scrollEnd="horizontalScrollEnd"&gt;
      &lt;vue-vertical-scroll :ref="'scroll-' + idx" @pullingUp="pullingUp(idx)"&gt;
        &lt;some-item v-for="(item, idx) in items" :key="idx"&gt;&lt;some-item&gt;
      &lt;/vue-vertical-scroll&gt;
      &lt;vue-vertical-scroll :ref="'scroll-' + idx"&gt;&lt;/vue-vertical-scroll&gt;
      &lt;vue-vertical-scroll :ref="'scroll-' + idx"&gt;&lt;/vue-vertical-scroll&gt;
    &lt;/vue-horizontal-scroll&gt;
  &lt;/div>
&lt;/template>

&lt;script>
  export default {
    name: 'App.vue',
    data () {
      return {
        pageIdx: 0,
        items: [
          do...
        ]
      }
    },
    methods: {
      /**
       * @method horizontalScrollEnd
       * @param { Number } idx 横向切换的下标
       * 横向切换结束时将触发scrollEnd事件 参数为切换到的下标
       */
      horizontalScrollEnd: function (idx) {
        this.pageIdx = idx
      },
      /**
       * @method pullingUp
       * @param { Number } idx 通过下标获取是哪个scroll触发的事件
      pullingUp: function (idx) {
        // 去获取数据
      }
    }
  }
&lt;/script>
          </pre>
        </p>
        <h2>文档</h2>
        <div class="px-line"></div>
        <h2 class="text-primary">vue-horizontal-scroll</h2>
        <p>横向滚动的主体 本质是一个swiper</p>
        <h4>Props</h4>
        <table class="table table-striped">
          <tr>
            <td>Option</td>
            <td>Type</td>
            <td>Default</td>
            <td>Description</td>
          </tr>
          <tr>
            <td>options</td>
            <td>Object</td>
            <td>{}</td>
            <td>默认配置可以通过$refs['vue-horizontal-scroll'].horizontalScrollDefaultOpt查看，默认不开启下拉刷新，传入的options将merge入horizontalScrollDefaultOpt中</td>
          </tr>
          <tr>
            <td>height</td>
            <td>String</td>
            <td>(screenHeight - wrapperOffsetTop) + 'px'</td>
            <td>默认不传将根据屏幕高度以及BScroll的offsetTop自动计算高度 如果有自定义需求，可以传入px、rem、vh、等单位的字符串</td>
          </tr>
          <tr>
            <td>offsetY</td>
            <td>String | Number</td>
            <td>0</td>
            <td>当传入header后，上下的滚动将分为两层 
              向下滚动后默认会到下层的顶部 传入offsetY后
              向下滚动将展示部分上层界面 实际根据业务具体操作
              可以传入rem、px、vh等css单位的字符串
              或者是数字，数字将为px为单位
            </td>
          </tr>
          <tr>
            <td>lock</td>
            <td>Boolean</td>
            <td>false</td>
            <td>决定滚动时上层header的激活状态根据手势方向还是滚动到的Y轴来切换 默认是根据手势方向
              true的表现形式为当上拉之后 上下手势不再影响header是否激活 只有滚动到顶部时才会打开header
              可以打开右侧demo2来查看区别
            </td>
          </tr>
        </table>
        <h4>Methods</h4>
        <table class="table table-striped">
          <tr>
            <td>Name</td>
            <td>Param</td>
            <td>Type</td>
            <td>Return</td>
            <td>Description</td>
          </tr>
          <tr>
            <td>goToPage</td>
            <td>index</td>
            <td>Number</td>
            <td>/</td>
            <td>传入下标横向滚动至哪一页</td>
          </tr>
          <tr>
            <td>computedWidth</td>
            <td>/</td>
            <td>/</td>
            <td>/</td>
            <td>计算horizontalScroll宽度，会自动调用，一般情况下无需调用。仅用于tab栏为动态的情况下。比如从后端拉取菜单的情况。请务必包裹进$nextTick。因为它会去读取dom节点</td>
          </tr>
        </table>
        <h4>Event</h4>
        <table class="table table-striped">
          <tr>
            <td>Name</td>
            <td>Param</td>
            <td>Type</td>
            <td>Description</td>
          </tr>
          <tr>
            <td>scrollEnd</td>
            <td>pageX</td>
            <td>Number</td>
            <td>横向滚动停止时会向上触发scrollEnd事件 参数为横向滚动的下标</td>
          </tr>
        </table>
        <h4>Slots</h4>
        <table class="table table-striped">
          <tr>
            <td>name</td>
            <td>Description</td>
          </tr>
          <tr>
            <td>
              header
            </td>
            <td>
              传入将会自动变为上下两层的滚动 当向下滚动时默认会滚动到下层的顶部，也就是上层隐藏
              需要传入offsetY业务的偏移
            </td>
          </tr>
        </table>
        <h2 class="text-primary">vue-vertical-scroll</h2>
        <p>竖向滚动的主体 默认不开启下拉刷新，请通过options配置开启</p>
        <h4>Props</h4>
        <table class="table table-striped">
          <tr>
            <td>Option</td>
            <td>Type</td>
            <td>Default</td>
            <td>Description</td>
          </tr>
          <tr>
            <td>options</td>
            <td>Object</td>
            <td>{}</td>
            <td>默认配置可以通过$refs['vue-vertical-scroll'].verticalScrollDefaultOpt查看，默认不开启下拉刷新，传入的options将merge入verticalScrollDefaultOpt中</td>
          </tr>
          <tr>
            <td>pullDownStatusKeyOpt</td>
            <td>Object</td>
            <td>{
              '下拉刷新': '下拉刷新...',
              '释放刷新': '释放刷新...',
              '正在载入': '正在载入...'
            }</td>
            <td>
              开启下拉刷新后将展示这下拉刷新、释放刷新、正在载入三个状态 如果需要修改，务必使用这个结构
              比如
              {
                '下拉刷新': '再拉下试试~',
                '释放刷新': '松开瞧瞧~~',
                '正在载入': '马上就好！'...'
              }
            </td>
          </tr>
        </table>
        <h4>Event</h4>
        <table class="table table-striped">
          <tr>
            <td>Name</td>
            <td>Param</td>
            <td>Type</td>
            <td>Description</td>
          </tr>
          <tr>
            <td>refresh-status-bar</td>
            <td>'正在载入' / '下拉刷新' / '释放刷新'</td>
            <td>String</td>
            <td>下拉刷新的时候 会触发pullDownStatusChange事件
              上层如果需要自定义下拉刷新的样式，可以根据该事件
              传递的参数来判断展示状态
            </td>
          </tr>
          <tr>
            <td>pullingUp</td>
            <td>/</td>
            <td>/</td>
            <td>上拉加载 同Better-Scroll上拉加载</td>
          </tr>
          <tr>
            <td>pullingDown</td>
            <td>/</td>
            <td>/</td>
            <td>下拉刷新 同Better-Scroll下拉刷新</td>
          </tr>
        </table>
        <h4>Props</h4>
        <table class="table table-striped">
          <tr>
            <td>name</td>
            <td>Type</td>
            <td>Default</td>
            <td>Description</td>
          </tr>
          <tr>
            <td>options</td>
            <td>Object</td>
            <td>{}</td>
            <td>默认配置可以通过$refs['vue-vertical-scroll'].verticalScrollDefaultOpt查看，默认不开启下拉刷新，传入的options将merge入verticalScrollDefaultOpt中</td>
          </tr>
          <tr>
            <td>pullDownStatusKeyOpt</td>
            <td>Object</td>
            <td>{
              '下拉刷新': '下拉刷新...',
              '释放刷新': '释放刷新...',
              '正在载入': '正在载入...'
            }</td>
            <td>
              开启下拉刷新后将展示这下拉刷新、释放刷新、正在载入三个状态 如果需要修改，务必使用这个结构
              比如
              {
                '下拉刷新': '再拉下试试~',
                '释放刷新': '松开瞧瞧~~',
                '正在载入': '马上就好！'...'
              }
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
  <script>
    let mobileFrame = document.getElementById('ifrm');
    mobileFrame.onload = function() {
     if (this.readyState && this.readyState != 'complete') return;
     else {
      mobileFrame.contentWindow.document.body.style.height = '667px'
     }
    }
    function handleDemo (url) {
      document.getElementsByTagName('iframe')[0].src = 'https://dscsdoj.top/public/unsplash/index.html#/' + url
    }
  </script>
  <style>
    .mobile-wrapper {
      height: 667px;
      width: 375px;
      border: 1px solid #E6E7E8;
      overflow: hidden;
      position: fixed;
      right: 50px;
      top: 50px;
      border-radius: 5px;
    }
    .mobile-wrapper > html, .mobile-wrapper > body {
      height: 667px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .main-content {
      width: 900px;
      padding: 0 21px;
      border: 1px solid #E6E7E8;
      margin-right: 475px;
      float: right;
      margin-top: 50px;
      border-radius: 5px;
    }
    .main-menu {
      width: 200px;
      overflow: hidden;
      right: 1390px;
      position: fixed;
      top: 50px;
      border-radius: 5px;
    }
    .a-btn {
      color: #555; border: 1px solid #E6E7E8;border-right: 0px solid #EEE
    }
    .px-line {
      border-bottom: 1px solid #E6E7E8;
      margin-bottom: 10px;
    }
  </style>
</html>
