<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
<h2>热图</h2>
<form action="/api/source/update" method="post" enctype='multipart/form-data'>
  <input name="title" type="text"/>
  <input name="source" type="file" />
  <button type="submit" class="btn btn-default">上传</button>
</form>

<h2>模板消息</h2>
<a id="sendMessageTip"></a>
<input placeholder="活动名称" value="" id="keyword1" />
<input placeholder="新增精选数" value="" id="keyword2" />
<input placeholder="温馨提示" value="" id="keyword3" />
<input placeholder="相册名" value="" id="keyword4" />
<button id="sendMessageBtn">发送模板消息</button>

<div class="img-wrapper"></div><br />

<br /><br /><br /><br />
<h2 style="margin-top: 100px">优秀实例1</h2>
<form action="/api/example?type=1" method="post" enctype='multipart/form-data'>
  <input name="source" type="file" />
  <button type="submit" class="btn btn-default">上传</button>
</form>

<h2>优秀实例2</h2>
<form action="/api/example?type=2" method="post" enctype='multipart/form-data'>
  <input name="source" type="file" />
  <button type="submit" class="btn btn-default">上传</button>
</form>

<h2>优秀实例3</h2>
<form action="/api/example?type=3" method="post" enctype='multipart/form-data'>
  <input name="source" type="file" />
  <button type="submit" class="btn btn-default">上传</button>
</form>

<h2>优秀实例4</h2>
<form action="/api/example?type=4" method="post" enctype='multipart/form-data'>
  <input name="source" type="file" />
  <button type="submit" class="btn btn-default">上传</button>
</form>
<div class="example-wrapper"></div><br />
<div style="margin-top: 100px">
  <h2>选图时展示的标题</h2>
  <a id="title">暂无保存的标题</a>
  <form action="/api/title" method="post">
    <input name="title" type="text"/>
    <button type="submit" class="btn btn-default">修改标题</button>
  </form>
</div>

<div style="margin-top: 100px">
    <h2>选择上传</h2>
    <div id="chooseImglist"></div>
    <button type="submit" class="btn btn-default upload-choose-images">上传选择的图片</button>
  </div>
  <br /><br /><br /><br />
  

<div style="margin-top: 100px">
  <h2>一键抓取</h2>
  <input id="unsplash_type" value="" placeholder="类型：默认love" />
  <input id="unsplash_size" value="" placeholder="长度：默认6" />
  <input id="unsplash_page" value="" placeholder="页数" />
  <button id="unsplash_btn" class="btn btn-default">查询</button>
  <button id="unsplash_btn_next" class="btn btn-default">下一页</button>
  <div id="imglist"></div>
  <button type="submit" class="btn btn-default upload-hot-images">上传热图</button>
</div>
<br /><br /><br /><br />

<div style="margin-top: 200px;display: block;">
  <h2>是否开启广告</h2>
  <a id="openAd">不开启</a>
  <form action="/api/ad" method="post">
    <button type="submit" class="btn btn-default">点击将改变开启状态</button>
  </form>
</div>

<div style="margin-top: 100px">
  <h2>书签主体内容</h2>
  <h4>背景图片</h4>
  <img id="backgroundImage" />
  <form action="/api/bookmark" method="post">
    <h4>正文</h4>
    <textarea name="content" id="content"></textarea>
    <input name="backgroundImage" placeholder="输入背景图路径 必须为热图的路径" type="text"/>
    <button type="submit" class="btn btn-default">提交</button>
  </form>
</div>

<h2 style="margin-top: 100px">youtube</h2>
<form action="/api/youtube" method="post">
  <button type="submit" class="btn btn-default">下载</button>
</form>

<script>
  let chooseImgList = []
  // 选图处的标题
  $.ajax({
    url: '/api/bookmark',
    success: function (res) {
      if (!res.data) return
      $('#content').html(res.data.content)
      document.querySelector('#backgroundImage').src = res.data.backgroundImage
    }
  })
  // 选图处的标题
  $.ajax({
    url: '/api/title',
    success: function (res) {
      if (!res.data) return
      $('#title').html(res.data)
    }
  })
  // 是否开启广告
  $.ajax({
    url: '/api/ad',
    success: function (res) {
      $('#openAd').html(res.msg ? '开启' : '不开启')
    }
  })

  $.ajax({
    url: '/api/sendMessage/statistics',
    success: function (res) {
      $('#sendMessageTip').html(res.message)
    }
  })

  // // 热图
  // $.ajax({
  //   url: "/api/source/all",
  //   success: function( result ) {
  //     for (let i = 0; i < result.data.length; i++) {
  //       $(".img-wrapper").append( `
  //         <div data-id="${result.data[i]._id}" data-name="${result.data[i].name}">
  //           <img src="${result.data[i].url}" class="img-thumbnail col-md-1" />
  //           <button class="btn btn-default removeBtn">👈删除</button>
  //         </div>
  //       `);
  //     }
  //     $('.removeBtn').on('click', function (e) {
  //       deleteImgById($(this.parentNode).data('id'), $(this.parentNode).data('name'))
  //     })
  //   }
  // });

  let chooseImagesUpdate = (url, color, height, width) => {
    try {
      console.log(url)
      chooseImgList.push({
        url: url,
        color: color,
        height: height,
        width: width
      })
      $('#chooseImglist').append(
        `
        <img src="${url}" class="img-thumbnail col-md-1" />
        `
      )
    } catch (e) {
      console.log(e)
    }
    
  }


  let findImagesByUnsplash = () => {
    // 从图库获取的链接
    let unsplashImgList = []
    let size = document.querySelector('#unsplash_size').value
    let type = document.querySelector('#unsplash_type').value
    let page = document.querySelector('#unsplash_page').value
    // 图库抓取的图片
    $.ajax({
      url: `/api/source/unsplash?size=${size}&type=${type}&page=${page}`,
      error: function () {
        let r = window.confirm('请求失败，确认重试')
        if (r) {
          findImagesByUnsplash()
        } else {
          let page = parseInt(document.querySelector('#unsplash_page').value)
          document.querySelector('#unsplash_page').value = page - 1
        }
      },
      success: function (res) {
        $('#imglist').empty()
        let result = res.data
        for (let i = 0; i < result.results.length; i++) {
          unsplashImgList.push({
            url: result.results[i].urls.regular,
            color: result.results[i].color || '#EEE'
          })
          $('#imglist').append(
            `
            <img src="${result.results[i].urls.small}" name="${result.results[i].urls.small}" class="img-thumbnail col-md-1" />
            `
          )
          document.getElementsByName(`${result.results[i].urls.small}`)[0].addEventListener('click', () => {
            chooseImagesUpdate(result.results[i].urls.regular, result.results[i].color, result.results[i].height, result.results[i].width)
          })
        }
      }
    })
  }
  
  let findImagesByUnsplashByNextPage = () => {
    let page = parseInt(document.querySelector('#unsplash_page').value)
    page = page || 1
    page += 1
    document.querySelector('#unsplash_page').value = page++
    findImagesByUnsplash()
  }

  $('#sendMessageBtn').click(() => {
    let template = {
      "keyword1": {
        "value": $('#keyword1').val()
      },
      "keyword2": {
        "value": $('#keyword2').val()
      },
      "keyword3": {
        "value": $('#keyword3').val()
      },
      "keyword4": {
        "value": $('#keyword4').val()
      }
    }
    $.ajax({
      url: '/api/sendMessage',
      type: 'POST',
      data: template,
      success: function (res) {
        console.log(res)
      }
    })
  })
  
  // 实例
  $.ajax({
    url: '/api/example',
    success: res => {
      console.log(res)
    }
  })

  let deleteImgById = (id, name) => {
    $.ajax({
      url: '/api/source/update',
      method: 'DELETE',
      data: {
        id: id,
        name: name
      },
      success: (res) => {
        window.location.reload()
      }
    })
  }

  document.querySelector('.upload-hot-images').addEventListener('click', () => {
    let type = document.querySelector('#unsplash_type').value
    $.ajax({
      url: '/api/source/updateByUrls',
      method: 'POST',
      data: {
        urls: unsplashImgList,
        type: type
      }
    })
  })
  document.querySelector('.upload-choose-images').addEventListener('click', () => {
    let type = document.querySelector('#unsplash_type').value
    $.ajax({
      url: '/api/source/updateByUrls',
      method: 'POST',
      data: {
        urls: chooseImgList,
        type: type
      }
    })
  })
  document.querySelector('#unsplash_btn').addEventListener('click', () => {
    findImagesByUnsplash()
  })
  document.querySelector('#unsplash_btn_next').addEventListener('click', () => {
    findImagesByUnsplashByNextPage()
  })
</script>